parameters:
    level: 6
    paths:
        - src
    ignoreErrors:
        - identifier: trait.unused
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        -
            identifier: argument.type
            message: '#ObjectManager given#'
        -
            identifier: offsetAssign.valueType
            path: src/Sort/Sorter.php
        -
            identifier: return.unusedType
            path: src/Mapping/Driver/SortDriver.php
        -
            identifier: notIdentical.alwaysTrue
            path: src/Mapping/Driver/SortDriver.php
        -
            identifier: deadCode.unreachable
            path: src/Mapping/Driver/SortDriver.php
        -
            identifier: variable.undefined
            path: src/Mapping/Driver/SortDriver.php
        -
            identifier: property.notFound
            path: src/Mapping/Driver/SortDriver.php
        -
            identifier: offsetAccess.nonArray
            path: src/Sort/Orm/Helper/DiffHelper.php
        -
            identifier: method.notFound
            path: src/Sort/Repository/EntityRepository.php
